/* sharon additions */
body {
  font-size: 1rem;
}i
#titlebar {
  margin-bottom:20px;
}

span.hiddenContent {
border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#dataset_more_btn, #software_more_btn, #document_more_btn, #other_more_btn, #contrib_more_btn, #authors_more_btn {
   white-space: nowrap;
   border:none;
   padding:0;
   background-color:transparent;
    cursor: pointer;
    color: #d75900;
    font-size: 1rem;
    margin-bottom: 20px;
}
.solr-fields dt, .solr-fields dd {
  word-wrap:normal;
}
.page-islandora-object .citation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  margin-bottom:50px;
}
.page-islandora-object .citation button.btn_copy_citation {
  white-space:nowrap;
  padding:0 20px;
  cursor: pointer;
  background-color: #DBE2E9;
  color: #1A658F;
  border: 2px solid #1A658F;
  font-weight:bold;
  font-size:1rem;
  text-transform:uppercase;
  margin-left:20px;
}
.page-islandora-object .citation button.btn_copy_citation:hover {
  background-color: #c3d7ee;
  text-decoration:underline;
  border: 2px solid #007fa3;
  color:#007fa3;
}
.islandora-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  margin-top:20px;
}
.islandora-content-container .islandora-content-left {
  width:25%; 
  margin-right:20px;
}
.islandora-content-container .islandora-content-left .islandora-pdf-content {
  background-color:transparent;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius: 0;
  padding:0;
}
.islandora-content-container .islandora-content-left .islandora-citation-content a,
.islandora-content-container .islandora-content-left .islandora-pdf-content a {
  display:block;
  border:3px solid #1a658f;
  position:relative;
}
.pdf-click-view {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:rgba(26,101,143,.25);
  font-size: 1.2rem;
  text-align:center;
  display:block;
  padding:15px;
}
.islandora-content-container .islandora-content-left .islandora-citation-content a:hover,
.islandora-content-container .islandora-content-left .islandora-pdf-content a:hover {
  border:3px dashed #efefef;
}
.islandora-content-container .islandora-content-left .islandora-citation-content img,
.islandora-content-container .islandora-content-left .islandora-pdf-content img {
  border:1px solid #ddd;
  padding:15px;
}
.islandora-content-container .islandora-content-left .islandora-citation-content a img,
.islandora-content-container .islandora-content-left .islandora-citation-content a img {
 border:none;
}
.islandora-content-container .islandora-content-right {
  width:75%;
}

#center-wrapper .block h2 {
  text-transform: inherit;
  background-color:transparent;
  color:#003366;
  font-size:1.3rem;
  padding:0;
}
.openskydora-info.published-url {
  padding: 20px 0;
}
.openskydora-info.download-button a {
  background-color: #1A658F;
  border: 2px solid #1a658f;
  color:#fff;
  display:block;
  font-weight: bold;
  font-size: 1.2rem;
  text-align:center;
  padding:15px 10px;
  margin-bottom: 50px;
  margin-left:0;
  text-transform: uppercase;
}
.openskydore-info.download-button a:hover{
  background-color:#007fa3;
}
.openskydora-info.download-button a:focus, 
.openskydora-info.download-button a:active {
 border: 2px solid #C3D7ee;
}
.islandora-pdf-content {
  float:none;
}

fieldset.collapsible {
  positions: relative;
  border:none;
  border-top: 3px solid #000;
  background-color:#efefef;
}
.islandora-metadata dt {
  font-weight: bold;
  font-family: 'UbuntuBold', sans-serif;
}

/* end sharon additions */


/* layout */
.box_150 {
	width:150px !important;	 
 }
.box_250 {
	width:250px !important;	 
 }
.box_300 {
	width:325px;	
 }
 .box_flex{
	display:inline-block;	 
	margin-right:30px;
	width:100px;
	border:1px solid #fff;
	
 }
.float_left {
 	float:left;
}
.float_right {
 	float:right;
}
.clear {
	clear:both;	
}


/* end layout */

/* layout override */
p {
    
    margin-top: 10px;
    margin-bottom: 10px;
}
li {
	margin-top: 5px;
    margin-bottom: 5px;	
}

.pane-content .lightblock {
	padding:0 2px 5px 2px;	
}
/* end layout override */

/* tinymce editor override */
table.mceLayout body {
	border:1px solid red;
	background:none;
	padding:0;
}

/* end tinymce editor override */
/* override footer layout styles */

.footernav, .footernav #orgFooter {
	color:#fff !important;
	padding:10px !important;
}
/* override footer layout styles */

/* menu mods */
li a.active {
	color:	#0075BF;
}

li.menu-4424  {
	background: url(../images/button_remoteaccess.png) !important;	
	background-repeat: no-repeat !important;
	background-position: 100% -100% !important;
	width:150px;
}

/* end menu mods */
/* headers */
h2 {
	padding: 4px 8px;
}
h2 a, h2 a:hover {
	color:#fff;	
}
h3, h4, h5, h6 {
	padding-left:0;	
}

/*end headers */


/* homepage mods */

.panels-flexible-region-4-center div.pane-content  {
	background-color:#efefef;	
	padding:0 4px;
}
.panels-flexible-region-4-center div.pane-content ul {
	margin-left:0px;
	padding-left:15px;
}
.panels-flexible-region-4-center div.pane-content li {
	border-bottom: 1px solid #adadad;	
	margin-left:0;
}
/* end homepage mods */

/* fancy image borders */
img.frame {
	border: 1px solid #ABABAB;	
}
.img_frame {
    border: 1px solid #CCCCCC;
    background-color: #fff;
	padding: 5px;
	display:inline-block;
	margin:10px;
}
/* end fancy image border */
/* other image effects*/
.resources_logo {
	border:1px solid #ccc;
	padding:10px;
	margin-right:20px;	
	margin-bottom:20px;
}
/* end other image effects*/
th, td {
	
	padding: 5px 10px;
	margin:5px;
}
td {
	vertical-align:top;	
	border-bottom: 1px solid #ccc;
}
th {
	color:#fff;
	background-color:#163B69;
}
ul {
	margin-top:10px;
	margin-bottom:20px;	
	clear:both;
}
li {
	line-height:1.5em;	
}
table  h3 {
	background-color:transparent;
	color:	#910f0f;
	font-family:UbuntuBold;
	padding-left:0;
}
table {
	border-collapse:separate;
	border-spacing: 3px;
}
table.locations th, table.locations td {
	width:50%;	
}

/* faq */
.faq-question {
	padding-left:0;	
}
.faq-question a {
	font-family:UbuntuBold;
	font-size:1.2em;
}
.faq-answer {
	padding-left:10px;	
}
.faq-answer ul.links {
	margin-bottom:20px;	
	margin-top:10px;
	display:block;
	margin-left:0;
}
.faq-answer ul.inline li {
	padding:none;
	display:block;	
}
.faq-answer ul.links a, .node-readmore a {
	border:1px solid #ccc;	
	padding:5px 10px;
	margin-top:20px;
	display:inline-block;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/buttons.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    border-image: none;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    color: #5A5A5A;
    cursor: pointer;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 1.077em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 4px 17px;
    text-align: center;
    background-color: #efefef;
}
.node-faq h2, .node-faq h2 a {
	color:#fff;	
}

/* end faq */

/* ill form */
form#webform-client-form-83 {
	
}
form#webform-client-form-83 legend {
	font-family:UbuntuBold;
	font-size:1.2em;	
}
form#webform-client-form-83 label{
	width:250px;
	text-align:right;
	display:inline-block;
}

div#webform-component-copyright-notice-and-fair-use--please-check-i-have-read-and-agree-that-my-copy-request-conforms-to-this-fair-use-law label {
	width:100%;
	display:inline;	
}
/* end ill form */

/* contacts and profile */
.fullphone {
	display:none;	
}
.shortphone {
	display:inline;	
}
#contact_list tr:hover {
	background-color:#ff9900;	
}
.profile_label {
	font-family:UbuntuBold;
	text-align:right;
	width:75px;	
	display:inline-block;
	margin-right:10px;
}
/* end contacts */

/* ask a contact box */
.aska-contact-box {
		background-color:#eee;	
		width:260px;
		margin:0;
		border:3px solid #0075BF;
		padding:0;
		border-bottom-right-radius:30px;
		float:right
	}
	.aska-contact-box h1 {
		margin:0;
		background-color: #0075BF;	
		color: #fff;
		padding-left:10px;
		border-radius:0px;
		font-size: 1.1em;
	}
	.aska-contact-box p {
		padding:0;
		padding-top:4px;
		padding-left:10px;	
	}
	.aska-contact-box-sidebar {
		background-color:#eee;	
		width:195px;
		margin:0;
		padding:0;

	}
	.aska-contact-box-sidebar h2 {	
		color: #fff;
		padding-left:10px;
	}
	.aska-contact-box-sidebar h2{
		color:#000;
	}
	.aska-contact-box-sidebar ul {
		margin-bottom:10px;	
	}
	.aska-contact-box-helppage {
		background-color:#eee;	
		width:341px;
		margin:0;
		padding:0;
		float:right;
		border:3px solid #0075BF;
	}
	.aska-contact-box-helppage h2 {
		background-color: #0075BF;	
		color: #fff;
		border-radius:0px;
		margin-top:0;
	}
	/* ask a contact box */

/* change a border for firstsidebar  */

.sidebar li {
	border-top :0px solid #020581;
}

/* change border margin on bottom of home page / node1
 div#node-2	{
	margin: 0px 0px 0px;
}
.content {
	margin: 0px 0px 0px;
}

/* -----  search forms ------ */

.search-wrapper {
    padding:10px;
    align:left;
}

#simple-search {
    padding:10px 10px 10px 0;
}

#advanced-search {
    background-color:white;
    margin:10px 0;
}

.search-toggler {
    float:right;
}


.search-toggler {
    color:#d75900;
}

.search-toggler:hover {
    text-decoration:underline;
    cursor:pointer;
}

#islandora-solr-advanced-search-form {
    background-color:transparent;
}

#islandora-solr-advanced-terms .form-item {
    border:white solid 0;
    margin-top:.5em;
    margin-botton:.5em;
}

#islandora-solr-advanced-terms .form-item label {
    font-size:.85em;
    font-weight:normal;
}

/* simple search labels */
#simple-search .form-item label {
	/* display:none; */
	color:white;
	text-weight:normal;
	padding:0 5px 0 10px;
}

#simple-search .form-item-collection label {
	padding:0 5px 0 0px;
}

/* drupalform styles */
form#drupalform-form2 .container-inline-date {
	clear:none;
	float:left;
	display:inline-block;
	border:blue thin solid;
	padding:10px;
}

/* search this collection styles */
#openskydora-search-collection-info {
  padding:0 0 10px;
  background:white;
  min-height: 146px;
}

#collection-search {
  float:right;
  width:200px;
  padding:10px 5px 7px 5px;
  margin:0px 7px 7px;
  background:#eeeeee;
  text-align:center;
}

input#edit-openskydora-collection-search-query {
    margin:5px 0 5px 0;
	width:95%;
}

/* advanced search block */

#openskydora-advanced-search-form div.form-item {
  display: inline-block;
  margin-right: 10px;
}
.openskydora-info {
	margin:10px 0;
}

.breadcrumbs .search-breadcrumb,
.breadcrumbs .filter-breadcrumb {
	position:relative;
	top:0px;
	font-family:helvetica;
	font-size:1.1em;
	font-weight:bold;
	/*color:red;*/
}

.breadcrumbs .spacer-breadcrumb {
	padding:0px 3px;
}

@media only screen and (max-width: 980px) {
  #wrap {
    width:100%;
  }
  #leftcol,
  #center-wrapper .sidebar .block {
    width:auto;
    float:none;
  }
  .islandora-compound-thumbs {
    display:flex;	  
  }
  .one-sidebar #center {
    width:100%;	  
  }
}

@media only screen and (max-width: 650px) {
  .islandora-content-container,
  .islandora-compound-thumbs {
    flex-direction: column;
  }
  .islandora-content-container .islandora-content-left,
  .islandora-content-container .islandora-content-right {
    width:100%;
    margin:10px;
  }
}
